# Ignorer les fichiers de node_modules
node_modules/

# Ignorer les fichiers de build
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Ignorer les fichiers de configuration locale
.env
.env.local
.env.*.local

# Ignorer les fichiers de cache
.DS_Store
*.log
.vscode/
.idea/

# Ignorer les fichiers de test
coverage/
.nyc_output/

# Ignorer les fichiers Android et iOS
android/
ios/

